*~
*.class
.project
.classpath
.settings
server/build
# Package Files #
#*.jar
*.war
*.ear
.metadata/
#**/.classpath
#**/.project
server/WebContent/WEB-INF/classes
db/
/client/TVNight/bin
/client/TVNight/gen

/client/media-sync-lib/bin/AndroidManifest.xml
/client/media-sync-lib/bin/R.txt
/client/media-sync-lib/bin/aidl/com/verizon/mms/AccCallback.aidl
/client/media-sync-lib/bin/aidl/com/verizon/mms/Callback.aidl
/client/media-sync-lib/bin/aidl/com/verizon/mms/MediaCacheApi.aidl
/client/media-sync-lib/bin/classes/com/verizon/mms/AccCallback.aidl
/client/media-sync-lib/bin/classes/com/verizon/mms/Callback.aidl
/client/media-sync-lib/bin/classes/com/verizon/mms/MediaCacheApi.aidl
/client/media-sync-lib/bin/jarlist.cache
/client/media-sync-lib/bin/media-sync-lib.jar
/client/media-sync-lib/bin/res/drawable/launcher_icon.png
/client/media-sync-lib/bin/res/drawable/logo_animation_20055.png
/client/media-sync-lib/gen/com/verizon/messaging/vzmsgs/BuildConfig.java
/client/media-sync-lib/gen/com/verizon/messaging/vzmsgs/R.java
/client/media-sync-lib/gen/com/verizon/mms/AccCallback.java
/client/media-sync-lib/gen/com/verizon/mms/Callback.java
/client/media-sync-lib/gen/com/verizon/mms/MediaCacheApi.java
/client/vma-sync-lib/bin/AndroidManifest.xml
/client/vma-sync-lib/bin/R.txt
/client/vma-sync-lib/bin/jarlist.cache
/client/vma-sync-lib/bin/res/drawable-hdpi/ic_launcher.png
/client/vma-sync-lib/bin/res/drawable-ldpi/ic_launcher.png
/client/vma-sync-lib/bin/res/drawable-mdpi/ic_launcher.png
/client/vma-sync-lib/bin/res/drawable-xhdpi/ic_launcher.png
/client/vma-sync-lib/bin/vma-sync-lib.jar
/client/vma-sync-lib/gen/com/verizon/vma/sync/lib/BuildConfig.java
/client/vma-sync-lib/gen/com/verizon/vma/sync/lib/Manifest.java
/client/vma-sync-lib/gen/com/verizon/vma/sync/lib/R.java
/client/vzmessages/bin/AndroidManifest.xml
/client/vzmessages/bin/R.txt
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberAlternateFormatsProto_44
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberAlternateFormatsProto_49
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberAlternateFormatsProto_55
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberAlternateFormatsProto_61
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberAlternateFormatsProto_81
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_800
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_808
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_870
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_878
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_881
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_882
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_883
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_888
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_979
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_AC
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_AD
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_AE
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_AF
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_AG
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_AI
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_AL
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_AM
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_AN
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_AO
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_AR
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_AS
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_AT
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_AU
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_AW
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_AX
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_AZ
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_BA
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_BB
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_BD
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_BE
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_BF
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_BG
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_BH
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_BI
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_BJ
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_BL
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_BM
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_BN
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_BO
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_BQ
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_BR
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_BS
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_BT
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_BW
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_BY
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_BZ
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_CA
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_CC
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_CD
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_CF
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_CG
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_CH
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_CI
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_CK
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_CL
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_CM
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_CN
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_CO
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_CR
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_CU
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_CV
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_CW
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_CX
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_CY
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_CZ
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_DE
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_DJ
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_DK
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_DM
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_DO
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_DZ
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_EC
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_EE
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_EG
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_ER
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_ES
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_ET
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_FI
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_FJ
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_FK
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_FM
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_FO
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_FR
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_GA
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_GB
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_GD
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_GE
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_GF
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_GG
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_GH
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_GI
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_GL
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_GM
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_GN
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_GP
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_GQ
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_GR
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_GT
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_GU
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_GW
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_GY
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_HK
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_HN
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_HR
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_HT
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_HU
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_ID
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_IE
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_IL
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_IM
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_IN
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_IO
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_IQ
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_IR
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_IS
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_IT
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_JE
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_JM
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_JO
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_JP
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_KE
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_KG
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_KH
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_KI
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_KM
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_KN
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_KP
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_KR
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_KW
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_KY
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_KZ
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_LA
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_LB
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_LC
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_LI
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_LK
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_LR
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_LS
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_LT
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_LU
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_LV
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_LY
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_MA
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_MC
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_MD
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_ME
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_MF
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_MG
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_MH
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_MK
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_ML
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_MM
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_MN
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_MO
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_MP
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_MQ
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_MR
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_MS
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_MT
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_MU
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_MV
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_MW
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_MX
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_MY
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_MZ
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_NA
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_NC
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_NE
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_NF
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_NG
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_NI
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_NL
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_NO
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_NP
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_NR
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_NU
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_NZ
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_OM
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_PA
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_PE
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_PF
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_PG
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_PH
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_PK
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_PL
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_PM
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_PR
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_PS
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_PT
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_PW
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_PY
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_QA
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_RE
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_RO
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_RS
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_RU
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_RW
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_SA
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_SB
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_SC
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_SD
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_SE
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_SG
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_SH
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_SI
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_SJ
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_SK
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_SL
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_SM
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_SN
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_SO
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_SR
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_SS
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_ST
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_SV
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_SX
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_SY
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_SZ
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_TC
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_TD
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_TG
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_TH
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_TJ
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_TK
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_TL
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_TM
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_TN
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_TO
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_TR
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_TT
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_TV
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_TW
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_TZ
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_UA
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_UG
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_US
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_UY
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_UZ
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_VA
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_VC
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_VE
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_VG
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_VI
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_VN
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_VU
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_WF
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_WS
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_YE
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_YT
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_ZA
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_ZM
/client/vzmessages/bin/classes/com/google/i18n/phonenumbers/data/PhoneNumberMetadataProto_ZW
/client/vzmessages/bin/jarlist.cache
/client/vzmessages/bin/proguard.txt
/client/vzmessages/gen/com/verizon/messaging/vzmsgs/BuildConfig.java
/client/vzmessages/gen/com/verizon/messaging/vzmsgs/Manifest.java
/client/vzmessages/gen/com/verizon/messaging/vzmsgs/R.java
/client/vzmessages/gen/com/verizon/vma/sync/lib/R.java
Servers/
RemoteSystemsTempFiles/
