<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.verizon.messaging.vzmsgs"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:debuggable="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name" >
        <receiver
            android:name="com.verizon.mms.MediaSyncReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.verizon.mms.cache.intent.CACHE_SMS" />
                <action android:name="com.verizon.mms.cache.intent.REMOVE_SMS" />
                <action android:name="com.verizon.mms.cache.intent.CACHE_MMS" />
                <action android:name="com.verizon.mms.cache.intent.REMOVE_MMS" />
                <action android:name="com.verizon.mms.cache.intent.CACHE_THREAD" />
                <action android:name="com.verizon.mms.cache.intent.REMOVE_THREAD" />
            </intent-filter>
        </receiver>

        <!-- Verizon-Cache -->
        <provider
            android:name="com.verizon.mms.MediaProvider"
            android:authorities="verizon-cache" />

        <service
            android:name="com.verizon.mms.MediaSyncService"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.verizon.mms.MediaSyncService" />
            </intent-filter>
        </service>

        <activity
            android:name="com.verizon.mms.FirstActivity"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>